<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>template</title>
	<style>
        html{
            overflow-y: scroll;
        }
        [data-dpr="2"] p, [data-dpr="3"] p,
        [data-dpr="2"] div, [data-dpr="3"] div {
            max-height: 100%;
        }
    </style>
	<link rel="stylesheet" type="text/css" href="../css/index.css<%= version ? '?v=' + version : ''%>">
	<script type="text/javascript" src="../../../../vv-base/js/flexible.js"></script>
</head>
<body>

    <%- include('./htm/aside.htm') %>

	<div>
		index
	</div>

<script type="text/javascript" src="../js/index.js<%= version ? '?v=' + version : ''%>"></script>
</body>
</html>
