html,body{
	background-color:#fab0a9;
}

.main{
	width: 600px;
	margin: 20px auto 0;
	background-color:#ffffff;
	border-radius: 10px;
	.nav{
		width: 560px;
		margin: 0 auto;
		height: 60px;
		font-size: 20px;
		font-weight: 600;
		li{
			width: 50%;
			height: 60px;
			line-height: 80px;
			color: #bcbcbc;
			border-bottom: 2px solid #f3f3f3; 
			text-align: center;
		}
		li.select{
			color: #ee776f;
			border-bottom: 2px solid #ee776f; 
		}
	}
}

.list{
	width: 600px;
	margin: 0 auto;
	padding:0 20px;
	overflow-y: scroll;
	position: relative; 
	min-height: 200px;
	overflow: auto; 
	li{
		position: relative; 
		height: 105px; 
		line-height: 85px; 
		border-bottom: 1px solid #f3f3f3; 
		font-size: 14px; 
		overflow: hidden;
		padding:10px 0;
		:last-child{
			border: none; 
		}
		.rank{
			width: 23px;
			height: 28px;
			line-height: 28px;
			text-align: center;
			margin-top: 28px;
			color: #999999;
		}
		.rank_0{
			background: url(../images/first.png) no-repeat center; 
		}
		.rank_1{
			background: url(../images/second.png) no-repeat center;
		}
		.rank_2{
			background: url(../images/third.png) no-repeat center;
		}
		img{
			width: 60px;
			height: 60px;
			border-radius: 50%;
			margin: 12px 12px 13px 20px; 
		}
		.nickname{
			width: 133px;
			font-size: 16px;
			color: #6a6969;
		}
		.follow{
			width: 56px;
			height: 26px;
			line-height: 26px;
			margin-top: 29px;
			font-size: 12px;
			text-align: center;
		}
		.followed{
			color: #dcdcdc;
		}
		.to_followed{
			color: #fff;
			background-color: #fc9891;
			border-radius: 30px;
		}
		.live{
			position: absolute;
			left: 0;
			top: 0;
			width: 52px;
			height: 16px;
			background: url(../images/live.png) no-repeat center;
		}

	}
	li:last-child{
		border-bottom:none;
	}
	.empty{
		height: 85px;
		line-height: 85px;
		color: #6a6969;
		text-align: center;
	}	
}

.ajax-load{
    background: url(../images/loading.gif) no-repeat center 25%;
}
